APP_NAME="Site SVD"

MAIL_MAILER=smtp
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=747a9e005@smtp-brevo.com
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=emergency@sistemavendadireta.com.br
MAIL_FROM_NAME="Site SVD"
MAIL_REPLY_TO_ADDRESS="sistema@emergency.com.br"
MAIL_REPLY_TO_NAME="Site SVD"
MAIL_NEW_ORDER_INTERNAL_TO="contato@sistemavendadireta.com.br"
MAIL_TO_ADDRESS=contato@sistemavendadireta.com.br
